@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --main-gradient: linear-gradient(90deg, #ff00d6 0%, #001AFF 100%);
  --text-titel: white;
  --text-color: rgb(173, 173, 173);
  --bg-color: rgb(0, 2, 20);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  font-family: 'Roboto', sans-serif;
  color: var(--text-titel);
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  position: static;
}

/* Principio de navbar */
.logoopacity {
  opacity: 0;
}

.navbar {
  width: 80%;
  height: 70px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  z-index: 1;
  background-color: rgba(211, 211, 211, 0.123);
  position: fixed;
  left: 50%;
  top: 10%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 30px;
  border: 0.1rem solid rgba(37, 37, 37, 0.781);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}

.navbar__logo {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.navbar__logo img {
  content: url("/icons/logoColor.png");
  -webkit-filter: drop-shadow(0px 0px 9px 15px rgba(0, 0, 0, 0.534));
          filter: drop-shadow(0px 0px 9px 15px rgba(0, 0, 0, 0.534));
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  width: 20px;
  height: 30px;
}

.navbar__logo img:hover {
  -webkit-filter: none;
          filter: none;
  content: url("/icons/logoColor.png");
}

.navbar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar__links li {
  list-style: none;
}

.navbar__links a {
  color: var(--text-titel);
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-size: 0.9rem;
  padding: 0rem 1rem;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  font-weight: 500;
}

.navbar__links a:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  bottom: 0;
  height: 2px;
  margin: -1px 1rem;
  left: 0;
  background: var(--main-gradient);
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.navbar__links a:hover:after {
  width: 90%;
}

.navbar__links .navbar__actual:hover:after {
  width: 0%;
}

.navbar__btnactive {
  background: -webkit-gradient(linear, left top, right top, from(#ff00d485), color-stop(60%, #001aff96));
  background: linear-gradient(90deg, #ff00d485 0%, #001aff96 60%);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0.3rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  transition: 0.3s;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.486);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.486);
}

.navbar__btnactive a {
  padding: 0.5rem 1rem;
  color: var(--text-titel);
  font-weight: 500;
}

.navbar__btnactive a:after {
  content: none;
}

.navbar__btnactive a:hover {
  color: var(--text-titel);
}

.navbar__btnactive img {
  width: 1rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.navbar__btnactive:hover {
  background-size: 180%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar__btnactive:hover img {
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
}

.navbar__burger {
  display: none;
  cursor: pointer;
}

.navbar__burger div {
  margin: 5px;
  width: 25px;
  height: 3px;
  background: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.342);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.342);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.activado {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.activado a {
  color: var(--text-titel);
}

.floatingnav {
  position: fixed;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.288);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.288);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

/* Fin de navbar */
/* Main */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}

.main {
  height: 100vh;
  position: relative;
}

.main::after {
  content: '';
  background-image: url(/images/topography1.svg);
  background-size: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  -webkit-animation: fadeOut 4s infinite alternate ease-in-out;
          animation: fadeOut 4s infinite alternate ease-in-out;
}

.main::before {
  content: '';
  background-image: url(/images/topography2.svg);
  background-size: 50%;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  -webkit-animation: fadeIn 4s infinite alternate ease-in-out;
          animation: fadeIn 4s infinite alternate ease-in-out;
}

.main div {
  width: 100%;
  margin: auto;
  height: auto;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-shadow: 0px 5px 8px 0px #000000;
          box-shadow: 0px 5px 8px 0px #000000;
}

.main div p {
  margin: 0 auto;
  font-size: 1.3rem;
  font-weight: 200;
  background-color: rgba(211, 211, 211, 0.089);
  padding: 0 1rem;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  text-align: center;
}

.main div h2 {
  margin: 0 auto;
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
}

.main div h2 span {
  background: var(--main-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main div h1 {
  width: 75%;
  margin: 0 auto;
  font-size: 1.3rem;
  font-weight: 200;
  text-align: center;
}

.main img {
  position: absolute;
  width: 20%;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.main img::before {
  content: "";
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: red;
}

/* Redes */
.sideRedes {
  position: fixed;
  top: 40vh;
  left: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  z-index: 0;
}

.sideRedes li {
  list-style: none;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.sideRedes li:hover {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.sideRedes li:hover a svg {
  stop-color: var(--main-gradient);
}

.sideRedes li a svg {
  width: 2rem;
  fill: white;
}

.about {
  min-height: 100vh;
  background-color: var(--bg-color);
  overflow-x: hidden;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about:before {
  content: '';
  background-image: url(/images/lines.png);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
  left: 0px;
}

.about__container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.about__container-titles {
  margin-top: 4rem;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translate(-150px, 0);
          transform: translate(-150px, 0);
  opacity: 0;
  -webkit-transition: 1.3s;
  transition: 1.3s;
}

.about__container-titles h2 {
  font-size: 2rem;
  background: -webkit-gradient(linear, left top, right top, from(#ff00d6), color-stop(20%, #001AFF));
  background: linear-gradient(90deg, #ff00d6 0%, #001AFF 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about__container-titles p {
  margin: 0.5rem 0;
  color: var(--text-color);
}

.about__container-titles ul {
  display: -ms-grid;
  display: grid;
  row-gap: 0rem;
  grid-auto-rows: 3rem;
  -ms-grid-columns: (minmax(7rem, 7fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(7rem, 7fr));
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.about__container-titles ul li {
  margin: 0 3px;
  padding: 2px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(31, 31, 31, 0.575);
  border-radius: 10px;
  z-index: 1;
}

.about__container-titles ul li img {
  -webkit-filter: drop-shadow(2px 2px 5px black);
          filter: drop-shadow(2px 2px 5px black);
}

.about__container-img {
  -webkit-transform: translate(150px, 0);
          transform: translate(150px, 0);
  opacity: 0;
  -webkit-transition: 1.3s;
  transition: 1.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.about__container-img img {
  width: 80%;
}

.about__container-img::before {
  content: '';
  background: var(--main-gradient);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 50%;
  -webkit-filter: blur(50px);
          filter: blur(50px);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.parallaxit {
  -webkit-transition: 0.6s -webkit-transform ease-out;
  transition: 0.6s -webkit-transform ease-out;
  transition: 0.6s transform ease-out;
  transition: 0.6s transform ease-out, 0.6s -webkit-transform ease-out;
  -webkit-transform: translate3d(var(--parallax-x), var(--parallax-y), 0px);
          transform: translate3d(var(--parallax-x), var(--parallax-y), 0px);
}

.anim .anim-left {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.anim .anim-right {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.anim .anim-top {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.anim .anim-bottom {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.work {
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.work h2 {
  margin-bottom: 4rem;
  font-size: 2.3rem;
  background: -webkit-gradient(linear, left top, right top, color-stop(45%, #ff00d6), color-stop(55%, #001AFF));
  background: linear-gradient(90deg, #ff00d6 45%, #001AFF 55%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  -webkit-transform: translate(-150px, 0);
          transform: translate(-150px, 0);
  opacity: 0;
  -webkit-transition: 4s;
  transition: 4s;
}

.work__container {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.work__container-cardright {
  background-color: white;
  width: 45%;
  height: 26rem;
  -webkit-transform: translate(0, 150px);
          transform: translate(0, 150px);
  opacity: 0;
  -webkit-transition: 1.3s;
  transition: 1.3s;
  -webkit-box-shadow: 2px 2px 5px 3px black;
          box-shadow: 2px 2px 5px 3px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work__container-cardright a {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
}

.work__container-cardright h4 {
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  position: absolute;
  color: var(--text-color);
  background: url(/images/topography1.svg);
  background-color: var(--bg-color);
  bottom: 0;
  font-weight: 300;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.work__container-cardright h4 span {
  padding: 1px 4px;
  background-color: #55555571;
  border-radius: 5px;
  font-weight: 300;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}

.work__container-cardright:hover h4 {
  opacity: 1;
}

.work__container-cardright p {
  padding: 1rem;
  text-align: center;
  color: white;
  width: 50%;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  opacity: 1;
  z-index: 1;
  position: relative;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.work__container-cardright p:before {
  content: '';
  height: 8rem;
  width: 8rem;
  position: absolute;
  background: url(/images/topography1.svg);
  background-color: var(--bg-color);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
  border-radius: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.486);
          box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.486);
}

.work__container-cardright:hover p {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.work__container-cardright:hover::after {
  -webkit-filter: grayscale(100);
          filter: grayscale(100);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.work__container-cardright:after {
  content: '';
  position: absolute;
  background: url(/images/beAuPair.png);
  background-size: 50%;
  background-position-y: 40%;
  background-position-x: 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.work__container-cardleft {
  background-color: white;
  width: 45%;
  height: 26rem;
  -webkit-transform: translate(0, -150px);
          transform: translate(0, -150px);
  opacity: 0;
  -webkit-transition: 1.3s;
  transition: 1.3s;
  position: relative;
  -webkit-box-shadow: 2px 2px 5px 3px black;
          box-shadow: 2px 2px 5px 3px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work__container-cardleft p {
  padding: 1rem;
  text-align: center;
  color: white;
  width: 50%;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  opacity: 1;
  z-index: 1;
  position: relative;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.work__container-cardleft p:before {
  content: '';
  height: 8rem;
  width: 8rem;
  position: absolute;
  background: url(/images/topography1.svg);
  background-color: var(--bg-color);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
  border-radius: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.486);
          box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.486);
}

.work__container-cardleft a {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
}

.work__container-cardleft h4 {
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  position: absolute;
  color: var(--text-color);
  background: url(/images/topography1.svg);
  background-color: var(--bg-color);
  bottom: 0;
  font-weight: 300;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.work__container-cardleft h4 span {
  padding: 1px 4px;
  background-color: #55555571;
  border-radius: 5px;
  font-weight: 300;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}

.work__container-cardleft:hover h4 {
  opacity: 1;
}

.work__container-cardleft:hover p {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.work__container-cardleft:hover::after {
  -webkit-filter: grayscale(100);
          filter: grayscale(100);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.work__container-cardleft:after {
  content: '';
  position: absolute;
  background: url(/images/logo-normal.svg);
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

@media screen and (max-width: 767px) {
  body {
    background-size: 130%;
  }
  .navbar {
    width: 100%;
    background: #00000000;
    left: 50%;
    top: 5%;
    border-radius: 0px;
    border: none;
    -webkit-backdrop-filter: blur(0);
            backdrop-filter: blur(0);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navbar__links {
    background: #000000;
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 0vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 60%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
    z-index: 2;
    display: none;
  }
  .navbar__links .navbar__btnactive a {
    color: white;
  }
  .navbar__links li {
    margin-top: 6rem;
    text-align: center;
    width: 80%;
    opacity: 0;
  }
  .navbar__links li a {
    font-size: 1.5rem;
    color: var(--text-titel);
  }
  .navbar__burger {
    display: block;
    z-index: 2;
  }
  .sideRedes {
    display: none;
  }
  .main::after {
    background-size: 100%;
  }
  .main::before {
    background-size: 100%;
  }
  .main div {
    width: 95%;
    height: 80vh;
  }
  .main div h2 {
    font-size: 3rem;
  }
  .main img {
    width: 75%;
  }
  .about {
    background-position-x: -110%;
  }
  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__container-titles {
    width: 95%;
  }
  .about__container-img {
    margin: 5rem 0 9rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about__container-img img {
    width: 70%;
  }
  .work__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }
  .work__container div {
    width: 100%;
  }
}

.navbar__active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #000000;
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

@-webkit-keyframes navbarLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navbarLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
/*# sourceMappingURL=style.css.map */